@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Source+Serif+Pro:ital,wght@0,600;0,900;1,400;1,900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
}

img {
  width: 100%;
}

p {
  font-family: 'Crimson Text', serif;
}

.d-flex {
  display: flex;
}

.d-inline {
  display: inline;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: calc(1rem * 0.75);
}

.m-2 {
  margin: 1rem;
}

/*.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}*/

.w-75 {
  width: 75%;
}

/*.w-100 {
  width: 100%;
}*/

.my-1 {
  margin-top: calc(1rem * 0.25);
  margin-bottom: calc(1rem * 0.25);
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important
}

.mb-4 {
  margin-bottom: 4rem !important;
}

.ml-4 {
  margin-left: 2rem !important;
}

.mr-4 {
  margin-right: 2rem !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Serif Pro', serif;
  font-weight: 600;
  color: purple;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: calc(1rem * 0.25);
}

.navegacao-container {
  max-width: 960px;
}

.list-item {
  list-style: none;
 }

.align-items-center {
  align-items: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.logo {
  font-family: 'Source Serif Pro', serif;
  font-weight: 900;
  font-style: italic;
  font-size: 48px;
  color: purple;
  background-color: transparent;
}

.text-decoration-none {
  text-decoration: none;
}

.navegacao {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.navegacao li a {
  color: white;
}

/*.navegacao li.a:visited {*/
/*  color: white;*/
/*}*/

.navegacao li {
  border-radius: 20px;
  font-family: "Helvetica", sans-serif;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.flex-1 {
  flex: 1;
}

.bg-color-purple {
  background-color: purple;
}

.color-white {
  color: white;
}

.color-purple {
  color: purple;
}

table, th, td {
  border: 1px solid grey;
}

th, td {
  padding: calc(1rem * 0.5);
}

.text-center {
  text-align: center;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.rounded-1 {
  border-radius: calc(1rem * 0.25);
}

.rounded-2 {
  border-radius: calc(1rem * 0.5);
}

.rounded-3 {
  border-radius: calc(1rem * 0.75);
}

.rounded-50 {
  border-radius: 50%;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.position-fixed {
  position: fixed;
}

.position-sticky {
  position: sticky;
}

.z-index-1 {
  z-index: 1;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.top-0 {
  top: 0;
}

.right-15 {
  right: 15px;
}

.left-15 {
  left: 15px;
}

.bottom-0 {
  bottom: 0;
}

.bottom-15 {
  bottom: 15px;
}

.bottom-21 {
  bottom: 21px;
}

.top-20 {
  top: 20px;
}

.seta-inicio {
  padding: 1px;
  border-radius: 50%;
  border: 1px solid purple;
  background-color: rgba(255, 255, 255, 0.5);
}

.seta-inicio a {
  color: purple;
}


/*.seta-inicio a:active {*/
/*  display: none;*/

/*}*/

.border {
  border-color: black;
  border-style: solid;
}

.border-1 {
  border-width: 1px;
}
